<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/edu-style.css">
    
     <!--========== BOX ICONS ==========-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <title>Profile</title>
    
  </head>
  <body>
    <%- include('blocks/header-main') %>
     <!--========== CONTENTS ==========-->
     <main>
        <section class="price-call-row">
            <div class="price-row">
        
            <!-- <div class="card"><i>Ribbon Card</i></div> -->
            <div class="price-col">
              <h2>Қазақстан тарихы / Онлайн-сабақ №1 / ҰБТ</h2>
            
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ZEc7ZqrXEE0" title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            </div>

            <div class="price-col">
              <h2>Қазақстан тарихы / Онлайн-сабақ №1 / ҰБТ</h2>
            
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ZEc7ZqrXEE0" title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            </div>


          <div class="price-col">
            <h2>Қазақстан тарихы / Онлайн-сабақ №1 / ҰБТ</h2>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZEc7ZqrXEE0" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
        </div>

    </div>
        </section>
    </main>
  </body>
</html>

<style>
    
</style>