<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/edu-style.css">
    
     <!--========== BOX ICONS ==========-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <title>Profile</title>
    
  </head>
  <body>
    <%- include('blocks/header-main') %>
     <!--========== CONTENTS ==========-->
     <main>
        <section>
            <div class="price-row">
                <!-- <h2>How to ace Listening!!!</h2>
                <h2>Intro to Listening part & Top Tips to ace</h2>
                <h2>by IELTS Liz</h2> -->
            <!-- <div class="card"><i>Ribbon Card</i></div> -->
            <div class="price-col">
                <h2>How to ace Listening!!!</h2>
                <h2>Intro to Listening part & Top Tips to ace</h2>
                
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/q8qmJeBxk4Q" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>                
            

                <div class="price-col">
                    <h2>Listening Band 8 experience</h2>
                
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kHTnAx6f-j0" title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                </div>

    </div>
        </section>
    </main>
<%- include('blocks/footer-main') %>
</body>
</html>


<br>
<br>




<style>
    
</style>