
<section class="footer-main">
    <div class="footer-main-items">
        <p>© 2023 PMP ACADEMY  <br></p>
        <p></p>
    </div>
</section>
<style>
    .footer-main {
        text-align: center;
        position: relative; 
        min-height: 100%;
        bottom: 0;
        margin-top: 100px;
    }
    .footer-main-items {
        font-size: 14px;
        position: absolute;
        width: 100%;
        bottom: 0;
        margin-top: 20px;
    }
</style>