<section id="section-header">
<nav>
    <div>
    <a href="/index" class="logo"><h3>pmp</h3></a>
    <a href="/index" class="logo"><h3 class="academy1">academy</h3></a>
</div>
    <div class="boxContainer">
        <table class="itemsContainer">
            <tr>
                <td>
                    <input type="text" placeholder="Search anything here" class="search-box">
                </td>
                <td>
                    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()" style="display: none;"></i>
        <ul>
            <li><a class="menu-items" href="/">Home</a></li>
            <li><a class="menu-items" href="#info-block">Directions</a></li>
            <li><a class="menu-items" href="#about-block">About</a></li>
            <li><a class="menu-items" href="/contact">Contact</a></li>
            <li><a class="menu-items" href="#footer-block">FAQ</a></li>
            <li><a href="/login"><h4 class="login">LOG IN</h4></a></li>
    </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu(), hideBurger()" style="display: none;"></i>
</div>
</nav>
</section>